/* MyBlogs.css */
.my-blogs-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.my-blogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.my-blogs-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
